.membership-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .membership-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .error {
    color: #ff0000;
    font-size: 14px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .contactPic {
    width:100%; 
    display:block; 
    margin-left: auto; 
    margin-right: auto;
    border-right:black;
    border-left:black;
  }
  .distance{
    margin: 20px;
  }

  .distanceExtreme{
    margin:500px;
  }