
  .header {
    background-color: #FC6C85;
   
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .logo {
    margin-top: 20px;
    margin-left: 20pt;
    margin-bottom: 30px;
    
  }
  .logo {
    border-radius: 50%; 
    width: 75px; 
    height: 75px; 
  }

  .headerTitel {
    color: black;
    font-size: 30px;

  }




